    <div class="loggedin-user-info">
        <div class="menu-container">
            <button class="menu-button" id="menuButton">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
        </div>
    </div>
    <div class="menu-content" id="userMenu">
        <div class="menu-item"><a href="/profile">Dashboard</a></div>
        <div class="menu-item"><a href="/?new_league=1">New League</a></div>
        <div class="menu-item"><a href="#" onclick="signOut()">Sign out</a></div>
        <div class="menu-item"><a href="https://github.com/guilhermechapiewski/pickleballleague.app/issues">🐞 Report a bug 🐞</a></div>
        <div class="menu-item" id="loggedin-user-email">@</div>
        {% if dev_environment %}
        <div class="menu-item" style="color: #000; font-weight: bold;">🌟🦸🏼‍♂️ DEV TOOLS 🌟</div>
        <div class="menu-item"><a href="/dev-load-test-data">Load test data</a></div>
        <div class="menu-item"><a href="/dev-clear-db">Clear DB</a></div>
        {% endif %}
    </div>
    {% if not user %}
        {% if dev_environment %}
        <div class="g_id_signin"
            data-type="standard"
            data-shape="pill"
            data-theme="outline"
            data-text="signin"
            data-size="medium"
            data-logo_alignment="left">
            <button onclick="handleCredentialResponseDEV()" style="height: 30px; padding: 6px;">Sign in (DEV ENV)</button>
        </div>
        {% else %}
        <script src="https://accounts.google.com/gsi/client" async defer></script>
        <div id="g_id_onload"
            data-client_id="873677737409-pkh5rfq6ejpr8dieqalnshjk09tfo9f0.apps.googleusercontent.com"
            data-context="use"
            data-ux_mode="popup"
            data-callback="handleCredentialResponse"
            data-auto_select="true"
            data-itp_support="true">
        </div>

        <div class="g_id_signin"
            data-type="standard"
            data-shape="pill"
            data-theme="outline"
            data-text="signin"
            data-size="medium"
            data-logo_alignment="left">
        </div>
        {% endif %}
    <form id="auth-form" method="POST" action="/sign-in">
        <input type="hidden" id="user_google_id" name="user_google_id">
        <input type="hidden" id="user_email" name="user_email">
    </form>
    {% else %}
    <form id="auth-form" method="POST" action="/sign-out">
        <input type="hidden" id="user_email" name="user_email" value="{{ user.email }}">
    </form>
    {% endif %}