<div class="ranking-container">
    <h3>Standings</h3>
    <div style="width: 100%; overflow-x: auto;">
        <table class="ranking-table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Player</th>
                    <th><i>(1)</i> Win %</th>
                    {% if league.scoring_system.value == 'score' %}
                        <th><i>(2)</i> Net<br>Points</th>    
                        <th><i>(4)</i> Points<br>Won</th>
                        <th>Points<br>Against</th>
                    {% endif %}
                    <th><i>(3)</i> Match<br>Wins</th>
                    <th>Match<br>Losses</th>
                </tr>
            </thead>
            <tbody>
                {% for player in league.get_player_rankings() %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ player.name }}</td>
                        <td>{{ "%.1f"|format(player.win_percentage) }}%</td>
                        {% if league.scoring_system.value == 'score' %}
                            <td>{{ player.points_difference }}</td>    
                            <td>{{ player.points_won }}</td>
                            <td>{{ player.points_against }}</td>
                        {% endif %}
                        <td>{{ player.wins }}</td>
                        <td>{{ player.losses }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
