<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pickleball League App - Error - {{ title }}</title>
    <style>
        body {
            font-family: sans-serif;
            margin: 50;
            color: #000;
            background: #fff;
        }

        .primary-button {
            background: #ca0363;
            color: #fff;
            border: none;
            padding: 12px 24px;
            font-size: 16px;
            border-radius: 4px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>{{ title }}</h1>
    <p>{{ message }}</p>
    <a href="{% if action_url %}{{ action_url }}{% else %}/{% endif %}"><button class="primary-button">{% if action_name %}{{ action_name }}{% else %}Home{% endif %}</button></a>
</body>
</html>
