<html>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 12px;
        }
    </style>
    <script>
        print_page = function() {
            
            // Force landscape printing
            var style = document.createElement('style');
            style.type = 'text/css';
            style.media = 'print';
            style.innerHTML = '@page { size: landscape; }';
            document.head.appendChild(style);

            // Hide footer
            document.getElementById("footer").style.display = "none";
            window.print();
            document.getElementById("footer").style.display = "block";
        }
    </script>
    <body>
        {% if league.name %}
            <h1>{{ league.name }}</h1>
        {% endif %}
        <table style="width: 100%;" border="1">
            <tr>
                <th style="width: 20%; white-space: nowrap;" rowspan="2">Rounds</th>
                <th style="width: 80%; white-space: nowrap;" colspan="{{ league.players|length }}">Player Scores</th>
            </tr>
            <tr>
                {% for player in league.players %}
                    <th style="width: {{ width }}%; white-space: nowrap;">{{ player }}</th>
                {% endfor %}
            </tr>
            {% for round in league.schedule %}
                <tr>
                    <td>
                        <b>Round {{ round.number }}:</b><br>
                        {% for game in round.games %}
                            <span style="display: inline-block; white-space: nowrap;">{{ game.players[0].name }}/{{ game.players[1].name }} vs. {{ game.players[2].name }}/{{ game.players[3].name }}</span><br>
                        {% endfor %}
                        {% if round.players_out %}
                            <br>
                            <small><b>Out:</b> <span style="display: inline-block; white-space: nowrap;">{{ round.players_out|join(', ') }}</span></small>
                        {% endif %}
                    </td>
                    {% for player in league.players %}
                    <td></td>
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <br>
        <div id="footer">
            <a href="#" onclick="print_page()">Print</a> | <a href="/">New League</a>
        </div>
    </body>
</html>