<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pickleball League App - Profile</title>
    <style>
        body {
            font-family: sans-serif;
            margin: 50;
            color: #000;
            background: #fff;
        }

        .primary-button {
            background: #ca0363;
            color: #fff;
            border: none;
            padding: 12px 24px;
            font-size: 16px;
            border-radius: 4px;
            cursor: pointer;
        }

        {% include 'templates/_auth.css' %}
    </style>
    <script language="javascript" type="text/javascript">
        {% include 'templates/_auth.js' %}
    </script>
</head>
<body>
    {% include 'templates/_auth.html' %}
    <h1>Pickleball League Profile</h1>
    {% if user.league_ids %}
    <h4>Your leagues</h2>
    <ul>
        {% for league_id in user.league_ids %}
        <li><a href="/league/{{ league_id }}">{{ league_id }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>You have not created any leagues yet.</p>
    {% endif %}
    <a href="/"><button class="primary-button">Home</button></a>
</body>
</html>
