<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pickleball League App - Profile</title>
    <style>
        body {
            font-family: sans-serif;
            margin: 50;
            color: #000;
            background: #fff;
        }

        .primary-button {
            background: #ca0363;
            color: #fff;
            border: none;
            padding: 12px 24px;
            font-size: 16px;
            border-radius: 4px;
            cursor: pointer;
        }

        {% include 'templates/_auth.css' %}
    </style>
    <script language="javascript" type="text/javascript">
        {% include 'templates/_auth.js' %}
    </script>
</head>
<body>
    {% include 'templates/_auth.html' %}
    <h1>Pickleball League Profile</h1>
    <p>Still working on it! Here you will be able to see all the leagues you have created, your overall scores and wins/losses over time, and more.</p>
    <p>Please check back later.</p>
    <a href="/"><button class="primary-button">Back to home</button></a>
</body>
</html>
